body{
  background-image: repeating-radial-gradient(circle at center,rgb(0, 0, 70) 0%, black 100%);
    background-size: cover;
   
    display: flex;
    justify-content: center;
  margin-top: 5rem;
  color: white;
  cursor: url("cu.png"), auto;
}

.container{
    background-color: white;
    color: rgb(0, 0, 70);
    font-family: sans-serif;
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 3rem;
    cursor: url("cu.png"), auto;
}



input{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    padding: 0.2rem;
    cursor: url("cu.png"), auto;
}




.signup {
    border: none;
    background: rgb(10, 0, 73);
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: url("cu.png"), auto;
    }
.signup:hover {
    color: rgb(10, 0, 73)!important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
    
    

  .fname{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

  .lname{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

  .number{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

  
  .gender{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

 
  .username{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

  
  .password{
    margin: 0.25rem;
    cursor: url("cu.png"), auto;
  }

 main{
    text-align: center;
    cursor: url("cu.png"), auto;
 }

 .show{
    background-color: rgb(14, 0, 96);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: url("cu.png"), auto;
}

.show:hover{
    color: rgb(10, 0, 73)!important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

*{
    cursor: url("cu.png"), auto;
}

#login {
  border: none;
  background: rgb(10, 0, 73);
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: url("cu.png"), auto;
  }
#login:hover {
  color: rgb(10, 0, 73)!important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }
  